body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  margin-top: 50px;
}

footer {
  background-color: #dc45b4;
  color: rgb(127, 115, 125);
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}